.events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.event {
    background-color: goldenrod;
    border: 20px dashed lime;
    padding: 5rem;
    line-height: 3rem;
    margin: 2px;
}